body {
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #000000;
	background-color: hsl(306, 45%, 73%);
}

h1,h2 {
	font-family: Georgia;
}

h1 {
	border-bottom: 3px solid #f1a1e4;
	background-color: #f9b6f1;
	color: #e31ac1;
	padding: 5px;
}

h2 {
	border-top: 1px solid #e185c1;
	border-bottom: 1px solid #e77cdc;
	background-color: #f189f5;
	padding-left: 5px;
	margin: 0 0 0 -15px;
	font-weight: normal;
}

.secao {
	background-color: #e25d9e;
	padding-left: 15px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}



a {
	text-decoration:none;
	color: rgb(230, 13, 158);
}


#menu {
	margin: 0;
}

#menu ul, #menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu .ativo {
	background-color: #ee7cd9;
}

.vcard {
	padding: 5px;
}

.url, .email {
	display: block;
}

.photo {
	float: right;
	margin-right: 20%;
	border-radius: 20%;
    width: 250px;
}

#footnote {
	border-top: 1px dashed #e259a9;
	padding: 5px;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;

}

#footnote li {
	list-style-type: none;
	margin-top: 3px;
	color: rgb(154, 9, 111);
}
